{% set i3 = salt['pillar.get']('i3', {
  'lookup': salt['grains.filter_by']({
    'Debian': {
      'packages': ['i3-wm', 'i3lock', 'xorg'],
    },
    'RedHat': {
    },
  }, default='Ubuntu', grain='os_family')
}, merge=True)

%}
